.outer {
    margin: 6vh;
    margin-left: 10vh;
    /* background-color: white; */
    height: 50vh;
    width: 50vh;
    padding: 10vh;
    padding-left: 20vh;
    /* background-color: #f48915; */

}

.user {
    width: 80%;
    background-color: transparent;
    border: 1;
    outline:none;
    /* color: var(--lightgrayz); */
    color: #f48915;
}

.pass {
    width: 80%;
    background-color: transparent;
    border: 1;
    outline:none;
    /* color: var(--lightgrayz); */
    color: #f48915;
}
/* 
.btn {
    display: flex;
    margin: 5vh;
    justify-content: space-between;
} */

button {
    width: 15vh;
    height: 5vh;
    background-color: #f48915;
}

.img {
    display: flex;
    justify-content: center;
}

.containerImg {
    display: flex;
    border-radius: 150px;
    align-items: center;
    /* background-color: white; */
    width: 115px;
    height: 115px;

}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
}

/* .emailContainer {
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 2rem;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgrayz)
}

button{
    background-color: var(--orange);
    color: var(--lightgray);
} */